ansitable==0.11.5
cfgv==3.5.0
colored==2.3.2
contourpy==1.3.3
cycler==0.12.1
distlib==0.4.3
filelock==3.29.4
fonttools==4.63.0
identify==2.6.19
kiwisolver==1.5.0
matplotlib==3.11.0
nodeenv==1.10.0
numpy==2.5.0
packaging==26.2
pgraph-python==0.6.4
pillow==12.3.0
platformdirs==4.10.0
pre_commit==4.6.0
progress==1.6.1
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-dateutil==2.9.0.post0
python-discovery==1.4.2
PyYAML==6.0.3
roboticstoolbox-python==1.3.0
rtb-data==1.1.0
scipy==1.18.0
six==1.17.0
spatialmath-python==1.1.16
typing_extensions==4.16.0
virtualenv==21.5.1

